 <button type="button" pButton (click)="novo()" label="Novo" class="p-button-primary p-mr-2 p-mb-2"></button>
<p-table [value]="agendamento" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <h5>Consulta de Agendamentos</h5>
    <tr>
        <th>Serviço</th>
        <th> Pets </th>
        <th>DATA E HORA</th>
        <th>Número</th>
        <th>Ações</th>
    
    </tr>

    </ng-template>
    <ng-template pTemplate="body" let-agendamento>
        <tr>
            <td>{{agendamento.tipo_servico}}</td>
            <td>{{agendamento.pets.nome}}</td>
            <td>{{agendamento.data_hora}}</td>
            <td>{{agendamento.id_agendamento}}</td>
            <td>
                <button (click)="editar(pets.id_pets)" pButton class="p-mr-1" icon="pi pi-pencil"></button>    
                <button (click)="deletar(pets.id_pets)" pButton class="p-button-danger" icon="pi pi-trash"></button>
            </td>

        </tr>

    </ng-template>



</p-table>