<div class="p-grid">
    
    <div class="p-col-12">
        <div class="card">
            <p-toast key="tst"></p-toast>
            <h5>Cadastro Pets</h5>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" pInputText  name="nome" [(ngModel)]="pets.nome" upperCase required>
                </div>
                <div class="p-field p-col-6 p-md-3">
                    <label for="data_nascimento">Data de Nascimento</label>
                    <input id="data_nascimento" type="date" pInputText  name="data_nascimento" [(ngModel)]="pets.data_nascimento">
                </div>
                <div class="p-field p-col-6 p-md-3">
                    <label for="data_cadastro">Data de Cadastro</label>
                    <input id="data_cadastro" type="date" pInputText  name="data_cadastro" [(ngModel)]="pets.data_cadastro">
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="tutor">Tutor</label>
                    <p-autoComplete [(ngModel)]="pets.tutor" [suggestions]="results" placeholder="Pesquise aqui o Tutor!"(completeMethod)="search($event)"
                     field="nome"></p-autoComplete>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="raca">Raça</label>
                    <input id="raca" type="text" pInputText  name="raca" [(ngModel)]="pets.raca" upperCase >
                </div> 
                <div class="p-field p-col-12 p-md-2">
                    <label for="peso">Peso</label>
                    <input id="peso" type="text" pInputText  name="peso" [(ngModel)]="pets.peso" >
                </div> 
                <div class="p-field p-col-12 p-md-4">
                    <label for="Cor">Cor</label>
                    <input id="Cor" type="text" pInputText  name="cor" [(ngModel)]="pets.cor" upperCase >
                </div> 
                <div class="p-field p-col-12 p-md-4">
                    <label for="sexo">Sexo</label>
                    <input id="sexo" type="text" pInputText  name="sexo" [(ngModel)]="pets.sexo" upperCase >
                </div> 
                <div class="p-field p-col-12 p-md-4">
                    <label for="especie">Espécie</label>
                    <input id="especie" type="text" pInputText  name="especie" [(ngModel)]="pets.especie" upperCase >
                </div>
                <div class="p-field p-col-6 p-md-3">
                    <h5> Ativo ➜</h5>
			        <p-inputSwitch [ngModel]="ativo" (onChange)="onChangeSituacao()"></p-inputSwitch>
                </div>
                
            </div>
            <button type="button" pButton (click)="salvar()" label="Salvar" class="p-button-success p-mr-2 p-mb-2"></button>
        </div>
    </div>

</div>