<button type="button" pButton (click)="novo()" label="Novo" class="p-button-primary p-mr-2 p-mb-2"></button>
<p-table [value]="pets" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <h5>Consulta de Pets</h5>
    <tr>
        <th>Nome</th>
        <th>Raça</th>
        <th>Cor</th>
        <th>Sexo</th>
        <th>Especie</th>
        <th>Peso</th>
        <th>Data Nascimento</th>
        <th>Data Cadastro</th>
        <th>Ações</th>
    </tr>
    
        <!-- <th>situação</th> -->
    </ng-template>
    <ng-template pTemplate="body" let-pets>
        <tr>
            <!-- <td>{{pets.codigo}}</td> -->
            <td>{{pets.nome}}</td>
            <td>{{pets.raca}}</td>
            <td>{{pets.cor}}</td>
            <td>{{pets.sexo}}</td>
            <td>{{pets.especie}}</td>
            <td>{{pets.peso}}</td>
            <td>{{pets.data_nascimento}}</td>
            <td>{{pets.data_cadastro}}</td>
            <td>
                <button (click)="editar(pets.id_pets)" pButton class="p-mr-1" icon="pi pi-pencil"></button>    
                <button (click)="deletar(pets.id_pets)" pButton class="p-button-danger" icon="pi pi-trash"></button>
            </td>

        </tr>

    </ng-template>



</p-table>