<div class="p-grid">

    <div class="p-col-12">
        <div class="card">
            <p-toast key="tst"></p-toast>
            <h5>Entrada de Estoque</h5>
            <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label for="produto">Produto</label>
                <p-autoComplete [(ngModel)]="movimentacao.produto" [suggestions]="results" (completeMethod)="searchproduto($event)"
                field="nome"></p-autoComplete>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="quantidade">Quantidade</label>
                <input id="quantidade" type="text" pInputText name="quantidade" [(ngModel)]="movimentacao.quantidade_mov" upperCase required>
            </div>
            <div class="p-field p-col-6 p-md-3">
                <label for="data_movimentacao">Data da Movimentação</label>
                <input id="data_movimentacao" type="date" pInputText  name="data_movimentacao" [(ngModel)]="movimentacao.data_movimentacao">
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="tipo">Tipo</label>
                <p-dropdown [options]="opcoesTipo" [(ngModel)]="movimentacao.tipo_movimentacao" placeholder="Selecione o tipo"></p-dropdown>
            </div>
            
        </div>
        <button type="button" pButton (click)="salvar()" label="Salvar" class="p-button-success p-mr-2 p-mb-2"></button>
        <button type="button" pButton (click)="voltar()" label="Voltar" class="p-button-warning p-mr-2 p-mb-2"></button>
    </div>

</div>