<button type="button" pButton (click)="novo()" label="Novo" class="p-button-primary p-mr-2 p-mb-2"></button>
<p-table [value]="produto" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>Codigo</th> -->
            <th>Nome</th>
            <th>UN</th>
            <th>Marca</th>
            <th>Grupo</th>
            <th>Ações</th>
           <!--  <th>situação</th> -->
        

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produtos>
        <tr>
            <!-- <td>{{produtos.codigo}}</td> -->
            <td>{{produtos.nome}}</td>
            <td>{{produtos.unidade}}</td>
            <td>{{produtos.marca?.nome}}</td>
            <td>{{produtos.grupo}}</td>
            <td>
                <button (click)="editar(produtos.id_produto)" pButton class="p-mr-1" icon="pi pi-pencil"></button>    
                <button (click)="deletar(produtos.id_produto)" pButton class="p-button-danger" icon="pi pi-trash"></button>
            </td>
         <!--    <td>{{cliente.situacao}}</td> -->
    
            
        </tr>
    </ng-template>
</p-table>