<div class="p-grid">

    <div class="p-col-12">
        <div class="card">
            <p-toast key="tst"></p-toast>
            <h5>Cadastro de Produtos</h5>
            <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label for="nome">Nome</label>
                <input id="nome" type="text" pInputText name="name" [(ngModel)]="produto.nome" required>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="unidade">Unidade de Medida</label>
                <input id="unidade" type="text" pInputText  name="unidade" [(ngModel)]="produto.unidade" required>
            </div> 
            <div class="p-field p-col-12 p-md-6">
                <label for="grupo">Marca</label>
                <!-- <input id="grupo" type="text" pInputText  name="grupo" [(ngModel)]="produto.grupo"> -->
                <p-autoComplete [(ngModel)]="produto.marca" [suggestions]="results" (completeMethod)="search($event)"
                field="nome"></p-autoComplete>
            </div> 
            <div class="p-field p-col-12 p-md-6">
                <label for="grupo">Grupo</label>
                <input id="grupo" type="text" pInputText  name="grupo" [(ngModel)]="produto.grupo" required>
            </div> 
            <button type="button" pButton (click)="salvar()" label="Salvar" class="p-button-success p-mr-2 p-mb-2"></button>
            
        </div>
    </div>

</div>
