<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toast key="tst"></p-toast>
            <h5>Lançamento de Agendamento</h5>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label for="tutor">Pet</label>
                    <p-autoComplete [(ngModel)]="agendamento.pets" [suggestions]="results" (completeMethod)="search($event)"
                     field="nome"></p-autoComplete>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label for="tipo">Tipo do serviço</label>
                    <input id="tipo" type="text" pInputText  name="tipo" [(ngModel)]="agendamento.tipo_servico" upperCase required>
                </div>
               <!--  <div class="p-field p-col-6 p-md-3">
                    <label for="data_agendamento">Data de Agendamento</label>
                    <input id="data_agendamento" type="date" pInputText  name="data_agendamento" [(ngModel)]="agendamento.data_agendamento">
                </div> -->
                <div class="p-field p-col-12 p-md-4">
                    <label for="hora">Data e Hora</label>
                    <p-calendar [(ngModel)]="agendamento.data_hora" showTime="true" [hourFormat]="24"></p-calendar>
                    <!-- <p-calendar [(ngModel)]="agendamento.horario_agendamento"  [timeOnly]="true"  [hourFormat]="12"></p-calendar> -->
                    <!-- <input id="hora" type="text" pInputText  name="hora" [(ngModel)]="agendamento.horario_agendamento" upperCase > -->
                </div>
            
            </div>
            <button type="button" pButton (click)="salvar()" label="Salvar" class="p-button-success p-mr-2 p-mb-2"></button>
        </div>
    </div>

</div>


